<mat-list>
    <div *ngFor="let item of targets">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>


                    <h4 mat-line>{{item.name}} - {{item.currentstatus}} &nbsp; &nbsp;
                        <span><mat-icon mat-list-icon [ngStyle] = "getStyle(item)">grade</mat-icon></span>
                    </h4>

                </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-list>
                <h3 mat-subheader>About the Company</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>info</mat-icon>
                    <p mat-line> {{item.companyinfo}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Money Matters</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>account_balance</mat-icon>
                    <p mat-line>Current Status - {{item.currentstatus}}</p>
                    <p mat-line> Financial Performance - {{item.financialperformance}} </p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <h3 mat-subheader>Contact Information</h3>
                <mat-list-item *ngFor="let contact of item.keycontacts">
                    <mat-icon mat-list-icon>call</mat-icon>
                    <h4 mat-line>{{contact.contactname}}</h4>
                    <p mat-line> {{contact.designation}} </p>
                    <p mat-line> {{contact.phone}} </p>
                </mat-list-item>
            </mat-list>
            <mat-action-row>

                <button mat-button color="primary" routerLink="/detail/{{item.id}}">
                    <mat-icon mat-list-icon>edit</mat-icon>Edit</button>
                <button mat-button color="warn" (click)="delete(item)">
                        <mat-icon mat-list-icon>delete</mat-icon>Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
    </div>
</mat-list>